.flex-container {
  display: flex;
}

.flex-child {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  flex: 1;
  text-align: center;
  padding: 2rem;
  border: 2px solid yellow;
}

.flex-child:first-child {
  margin-right: 20px;
}

.littletext {
  padding: 1rem;
}

.getintouch {
  padding: 1rem;
}

.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  position: relative;

  display: inline;
  margin: 1rem;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  border: #000000;
  background-color: #ffffff;
  color: #000000;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #e5ff00;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

#new {
  display: inline;
}
